<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gtechoogle.wallpaper.bing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.FullWallpaperActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullWallpaperTheme">
        </activity>
        <activity
            android:name=".wallpaperlist.WallpaperListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.SettingsActivity" />

        <service
            android:name=".services.ChangeWallpaperService"
            android:enabled="true"
            android:exported="false"></service>

        <receiver
            android:name=".services.ChangeWallpaperReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
    </application>

</manifest>